<div id="container">

  <%= render "header" %>




  <div id="main-right">

    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>

      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>
    <%= image_tag("../../../images/sunset-friends-wine-toast.jpg") %>
  </div>


  <div id="main">

    <h1>About</h1>

    <h2>Mark Fedorchak - Owner</h2>


    <p>From Vine to Wine, Mark Fedorchak has extensive experience as an executive at wineries such as Fetzer, Round Hill, and Van Ruiten.
      His decades of experience in the wine industry have given him valuable insight and knowledge of wine production,
      and what it takes to get it to market, and have the market Love It!</p>

    <span id="about_mark_fedorchak_image"> <img src="../../../images/mark-fedorchak-wine-industry-consultant.jpg" alt="Mark Fedorchak of Valley Wine Works with wine glass"></span>

  </div>

  <%= render "footer" %>


</div>
