<div id="container">

  <%= render "header" %>




  <div id="contact-main-right">

  </div>


  <div id="main-right">
    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>

      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>

    <%= image_tag("../../../images/mark-fedorchak-headshot-wine-industry-consultant.jpg") %>

  </div>

  <div id="main">

    <h1>Contact Us</h1>

    <div id="contact_list">
      <h2>Wine Industry Consulting - From Vine to Wine</h2>
      <%= image_tag('../../../images/vine-to-wine.jpg') %>


    </div>

  </div>
  <%= render "footer" %>

</div>