<div id="container">

  <%= render "header" %>




  <div id="main-right">
    <%= image_tag("../../../images/wine-splash-valley-wine-works-mark-fedorchak.jpg") %>
    <h2>have question?</h2>

    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>
      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>

  </div>


  <div id="main">

    <h1>Frequently Asked Questions</h1>

    <div id="faq_list">

      <ol>
        <li> Q: How do I take an idea for a wine label and turn this into a finished product?</li>

        <li>Q: We have mature vineyards and a respectable amount of capital to invest, so how do we start a winery?</li>

        <li>Q: Over the past several years we have been making a few thousand cases of our wine, but with no real plan
          for marketing our brand and now have excess inventories on-hand. What can we do in the short-term to reduce
          inventories of finished goods and also look to increasing distribution and sales in the future?
        </li>

        <li>Q: Without actually building our own winery, is it possible to create a label and produce wines to sell
          under this brand name?
        </li>

        <li>Q: Since we do not own a winery, where can we crush our grapes and then age and bottle the wines? How much
          will this cost?
        </li>

        <li>Q: We receive frequent compliments on our family’s wines, but many people have suggested that our packaging
          could use a little (or a lot) of help! How do we find the right designer to give our brand a much-needed boost
          in consumer appeal and sales?
        </li>

        <li>Q: With limited resources or time for extensive travel, are there ways of marketing my wines other than
          through the traditional distributor network?
        </li>
      </ol>


    </div>
  </div>

  <%= render "footer" %>

</div>
