
<div id="container">

  <%= render "header" %>


<div id="main-right">

  <h3>Under Construction</h3>

</div>


<div id="main">

  <h2>Gallery - Under Construction </h2>

</div>

<%= render "footer" %>


</div>
