<div id="container">

  <%= render "header" %>

  <div id="main-right">
    <div id="contact_phone">
      <h1>Contact Us</h1>
      <ul id="contact-box-list">
        <li id="li-contact-phone"><strong>209-810-4089</strong></li>
        <li id="li-contact-email"><strong>mark@valleywineworks.com</strong></li>
      </ul>
      <br/>

      <p><strong>Mark Fedorchak </strong></p>

      <p><em>Wine Business Consultant</em></p>
    </div>
    <%= image_tag("../../../images/beautiful-zin-grape-bunch-on-vine.jpg") %>

  </div>
  <div id="main">

    <h1>Links</h1>

    <div id="contact_list">

      <h2>Local Wine Links</h2>
      <ul>
        <li>Lodi Winegrape Commission</li>
        <li><a href="http://www.lodiwine.com/">lodiwine.com</a></li>
        <br/>
        <li>ZinFest</li>
        <li><a href="http://www.zinfest.com/">zinfest.com</a></li>
        <br/>
        <li></li>
        <li>Lodi Wine And Chocolate</li>
        <li><a href="http://www.lodiwineandchocolate.com/">lodiwineandchocolate.com</a></li>
        <br/>
        <li>Baccus and Beery Wine Blog</li>
        <li><a href="http://www.bacchusandbeery.com/">bacchusandbeery.com</a></li>
        <br/>
        <li>Wine Industry Insight - News</li>
        <li><a href="http://wineindustryinsight.com/">wineindustryinsight.com</a></li>
        <br/>
      </ul>
    </div>
<%= image_tag('../../../images/zinfandel-lodi-fall-wine-help.jpg') %>
  </div>



  <%= render "footer" %>
</div>